.tabelaPreços {
    text-align: center;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    margin-top: 12px;
    margin-bottom: 72px;
    border-collapse: collapse;
}

.tabelaPreços-legenda {
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 4px 4px 2px #000;
    color: #e7e7e7;
    text-align: center;
}


.tabelaPreços-cabeçalho tr td{
    padding: 4px;
    font-size: 18px;
    font-weight: 600;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    background-color: rgba( 0, 0, 0, 0.7);
    color: #f2f2f2;
}

.tabelaPreços-corpo tr td {
    padding: 8px 10px;
    font-size: 15px;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    background-color: rgba( 0, 0, 0, 0.5);
}

.borda {
    border-right: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
}

.CorNormal {
    color: #e7e7e7;
}

.ClasseTerra {
    color: #ebae3c;
}

.ClasseCeu {
    color: #76b1ff;
}

.ClasseMisterio {
    color: #fa8dfa;
}

.ClasseEspiritual {
    color: #adff2f;
}

.Linha-subtitulo {
    color: #e7e7e7;
    background-color: rgba( 0, 0, 0, 0.5);
    font-weight: 700;
}