.manualBestial {
    width: 216px;
    height: 316px;
    border: 1px solid #c2c2c2;
    border-radius: 8px;
    padding: 16px;
    cursor: pointer;
}

.livroBestial {
    transform: scale(63%);
    position: absolute;
    top: -55px;
    left: -23px;
}