.conteudo-apresentaçao--titulo {
    font-size: 26px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    letter-spacing: -0.5px;
    color: #fafafa;
    text-shadow: 2px 2px 3px black;
}

.conteudo-apresentaçao--subtitulo {
    font-size: 18px;
    width: 280px;
    margin: 24px auto auto auto;
    text-align: center;
    color: #f2f2f2;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 4px 4px 2px black;
}