body {
    background-image: url(../../img/seita\ dragao\ imperial.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center left;
    scroll-behavior: smooth;
}