.caixaDoUsuario {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.caixaDaSenha {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f2f2f2;
}

div > .caixaDaSenha, .caixaDoUsuario > label{
    margin-bottom: 8px;
}