.manualMinerios {
    width: 216px;
    height: 316px;
    border: 1px solid #c2c2c2;
    border-radius: 8px;
    padding: 16px;
    cursor: pointer;
}

.livroMinerios {
    transform: scale(50%);
    position: absolute;
    top: -90px;
    left: -35px;
}