.manualDasArtes {
    width: 216px;
    height: 316px;
    border: 1px solid #c2c2c2;
    border-radius: 8px;
    padding: 16px;
    cursor: pointer;
}

.livroArtes {
    transform: scale(50%);
    position: absolute;
    top: -100px;
    left: -30px;
}

.manualDasArtes .caixaContainer-titulo{
    padding-top: 10px;
}