.caixaDeConteudo {
    width: 216px;
    height: 316px;
    border: 1px solid #c2c2c2;
    border-radius: 8px;
    padding: 16px;
    cursor: pointer;
}

.livroDominio {
    position: absolute;
    top: -60px;
    left: -35px;
    transform: scale(60%);
}

.livroCultivo {
    transform: scale(65%);
    position: absolute;
    top: -30px;
    left: -27px;
}