.descriçaoItens-apresentaçao {
    height: 100px;
}

.descriçaoItens-apresentaçao--titulo {
    font-size: 19px;
    width: 280px;
    margin: 24px auto auto auto;
    text-align: center;
    color: #e7e7e7;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 4px 4px 2px black;
}